.navbar {
  background: #000;
  min-height: 5rem;
  font-size: 20px;
  text-transform: uppercase; }
  .navbar .nav-item {
    padding-left: 1rem; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background-image: url("../img/carousel1.jpg");
  background-size: cover; }

.carousel-img-2 {
  background-image: url("../img/carousel2.jpg");
  background-size: cover; }

.carousel-img-3 {
  background-image: url("../img/carousel3.jpg");
  background-size: cover; }

.carousel-caption {
  margin-bottom: 70px; }

#home-icon .fa {
  font-size: 50px; }

#getStarted {
  background-image: url("../img/getstarted.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 250px; }
  #getStarted .dark-overly {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#light-box {
  background: url("../img/getstarted.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 230px; }
  #light-box .dark-overly {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  #light-box .fa {
    font-size: 50px;
    margin: 6px;
    color: yellow; }

#photo-gallery img {
  min-height: 250px;
  width: 100%; }

#footer {
  background: #000;
  color: #fff; }

#header-section {
  background-image: url("../img/carousel2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px; }

@media (max-width: 767) {
  #news-letter .btn-id {
    text-align: center; } }

#box-section i {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 5px; }

#testimonial .slick-prev::before {
  color: #000; }

#testimonial .slick-next::before {
  color: #000; }

#service-head {
  background-image: url("../img/gallery (7).jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px; }

#blog-head {
  background-image: url("../img/gallery (8).jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px; }

#contact-head {
  background-image: url("../img/home-info.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px; }
